*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-width: 1440px;
}

/* header {
} */

/* Nav */

nav {
  background-color: gray;
  color: white;
  height: 98px;
}

nav a:hover {
  background-color: darkgray;

  border-radius: 4px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
}

nav ul {
  list-style: none;
  font-size: 21.429px;
  width: 100vw;
}

#left-nav {
  padding: 80px 0 48px 42px;
  background-color: red;
}

#mid-nav {
  width: 644px;
  background-color: goldenrod;
  margin-right: 150px;
  padding-left: 50px;
}

#right-nav {
  /* background-color: mistyrose; */
  margin: 30px 40px 30px 0;
  /* align-self: center; */
}

/* Generic Classes */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.align-center {
  align-content: center;
}

.align-self {
  align-self: center;
}

.space-around {
  justify-content: space-around;
}

.m-0-auto {
  margin: 0 auto;
}

.input {
  /* padding: 20px; */
  height: 56px;
  width: 350px;
  border: transparent;
  border-radius: 10px;
  padding-left: 50px;
}

.fa-search {
  position: absolute;
  top: 38px;
  right: 358px;
  color: black;
}

.x-large {
  font-size: x-large;
}

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

/*  conatiner */

.container {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}
