*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: gray;
  width: 100vw;
  min-width: 1440px;
  font-family: "Nunito", sans-serif, "Dosis", sans-serif;
}

/* Nav */

nav {
  background-color: gray;
  color: white;
  height: 98px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  font-size: 21.429px;
}

#left-nav {
  padding: 80px 0 48px 42px;
}

.fa-search {
  position: absolute;
  top: 22px;
  left: 20px;
  color: grey;
}

#mid-nav {
  width: 1000px;
  margin-right: 48px;
  padding-left: 48px;
}

#right-nav {
  margin: 30px 40px 30px 0;
  position: relative;
}

#special-item {
  background-color: #555;
  padding: 10px;
  border-radius: 3px;
}

#special-item:hover {
  background-color: #444;
}

.effect {
  color: white;
  text-decoration: none;

  padding: 10px;
  border-radius: 3px;
}

.effect:hover {
  background-color: darkgray;
  border-radius: 4px;
}

/* Generic Classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}

.justify-items-center {
  justify-items: center;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.align-center {
  align-content: center;
}

.align-self {
  align-self: center;
}

.article-image {
  border-radius: 6px;
  border: 3px solid white;
  margin-bottom: 20px;
  margin-left: -150px;
}

.space-around {
  justify-content: space-around;
}

.card-1-margin {
  margin-left: -150px;
}

.text-align {
  text-align: center;
}

.input {
  height: 56px;
  width: 350px;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
}

.x-large {
  font-size: x-large;
}

.gray {
  background-color: #828282;
}

.dark-gray {
  background-color: #a9a9a9;
}

.light-gray {
  background-color: #d3d3d3;
}

.dim-gray {
  background-color: #696969;
}

.dark-slate-gray {
  background-color: darkslategray;
}

.mink {
  background-color: #88807b;
}

.iron {
  background-color: #48494b;
}

.ash {
  background-color: #544c4a;
}

. .bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bigger {
  font-size: 48px;
}

.inline {
  display: inline;
}

/*  Main Section  */

h1 p {
  background-color: white;
  display: inline-block;
  padding: 10px;
}

h1 {
  position: absolute;
  color: black;
  margin-top: 28px;
  margin-left: 525px;
  padding: 16px;
}

h1 span::before {
  content: "\a";
  white-space: pre;
}

h2 span::before {
  content: "\a";
  white-space: pre;
}

.card-1 {
  width: 721px;
  height: 712px;
}

#main-article-container {
  grid-template-columns: 1fr 1fr;
  position: relative;
}

#article-container-1 {
  background-color: #555;
}

#article-container-2 {
  background-color: #666;
}

article p {
  padding-left: 25px;
  padding-bottom: 16px;
}
.card-2 {
  grid-template-columns: repeat(3, 1fr);
}
